div.header {
    background-color: #ffb832;
}

.nav-link {
    color: #223f9d;
}

#nonprofit {
    font-size: 0.9rem;
}

div.map {
    height: 600px;
    width: 80%;
}

col.demokey {
    width:10%;
}

col.demodescription {
    width:65%;
}

col.demoqty {
    width:25%;
}

