html { font-size: 3rem; }

@media (min-width: 576px) {
    html { font-size: 2.0rem; }
}
@media (min-width: 768px) {
    html { font-size: 1.75rem; }
}
@media (min-width: 992px) {
    html { font-size: 1.5rem; }
}
@media (min-width: 1200px) {
    html { font-size: 1.25rem; }
}

footer {
    background-color: #ffb832;
    font-size: 65%;
}

div.header {
    background-color: #ffb832;
}

.nav-link {
    color: #223f9d;
}

#nonprofit {
    font-size: 0.9rem;
}

div.map {
    height: 600px;
    width: 80%;
}

col.demokey {
    width:10%;
}

col.demodescription {
    width:65%;
}

col.demoqty {
    width:25%;
}

table#results_table td:nth-of-type(1) {
    width: 5%;
}

table#results_table td:nth-of-type(2) {
    width: 8%;
}

table#results_table td:nth-of-type(3) {
    width: 33%;
}

table#results_table td:nth-of-type(4) {
    width: 43%;
}
table#results_table td:nth-of-type(5) {
    width: 11%;
}

table#results_table {
    display: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

